{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Sancreek&family=Tinos&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Registration</title>
</head>
<body>

<div class="login">
    <div class="login__container">

        <h1 class="login__title">Введите email</h1>
        <form action="" method="post">
            {% csrf_token %}
            <div class="group">
                <label class="login__label" for="">email</label>
                <input class="login__input" type="email" name="email" required>
            </div>
            <div class="group">
                <button class="login__button" type="submit">Сбросить пароль</button>
            </div>
        </form>
    </div>
</div>


</body>
</html>