version: '3'

services:

  app: &app
    build:
      context: .
      dockerfile: deploy/python/Dockerfile
    restart: always
    ports:
      - 8000:8000
    expose:
      - 8000
    depends_on:
      - postgres
      - redis
    environment:
      DB_NAME: barbook_django
      DB_USER: root
      DB_PASSWORD: root
      DB_HOST: postgres
      DB_PORT: 5432
      REDIS_CONNECTION: redis://redis:6379/0
    volumes:
      - ./:/app


  celery:
    <<: *app
    working_dir: /app/src
    command: celery -A barbook_project worker -l INFO
    ports: [ ]
    volumes: [ ]

  promtail:
    image: grafana/promtail:1.4.1
    volumes:
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      - promtail-data:/var/lib/promtail/positions
      - ./promtail/promtail.yaml:/etc/promtail/promtail.yml
      - /var/log/nginx/:/var/log/nginx/
    command:
      - '-config.file=/etc/promtail/promtail.yml'


  postgres:
    image: postgres:11.1-alpine
    environment:
      POSTGRES_DB: barbook_django
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
    volumes:
      - db:/var/lib/postgresql/data
    logging:
      driver: "json-file"
      options:
        tag: "{{.ImageName}}|{{.Name}}"

  redis:
    image: redis:6-alpine

volumes:
  db:
  promtail-data:
  static: