name: "Build Main"

on:
  push:
    branches:
      - 'main'

jobs:
  build:
    runs-on: ubunt-latest
    steps:
      - name: SetUp QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - uses: actions/checkout@v2
      - name: Build Docker Python Image
        run: docker image build . --file deploy/python/Dockerfile --tag barbook:latest

      - name: Push Docker Python Image
        run: docker image push barbook:latest