name: "Main workflow"

on:
  push:
    branches:
      - 'main'

jobs:
  set-up:
    runs-on: ubuntu-latest
    steps:
      - name: SetUp QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker buildx
        uses: docker/setup-buildx-action@v1

      - name: Pull
        uses: actions/checkout@v2

      - name: Set up python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

  build:
    needs: set-up
    runs-on: ubuntu-latest
    steps:
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}
      - uses: actions/checkout@v2
      - name: Build Docker Python Image
        run: docker image build . --file deploy/python/Dockerfile --tag dane4kq/barbook:latest

      - name: Push Docker Python Image
        run: docker image push dane4kq/barbook:latest

  tests:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: SetUp QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker buildx
        uses: docker/setup-buildx-action@v1

      - name: Run docker database
        run: docker-compose -f docker-compose.db.yml up --build -d
      - name: Wait / Sleep
        uses: jakejarvis/wait-action@v0.1.1
        with:
          time: '10s'
      - name: Run django api Tests
        run: python src/manage.py test barbook_api

      - name: Run django app Tests
        run: |
          python src/manage.py test barbook_app


  deployment:
    runs-on: self-hosted
    needs: tests
    steps:
      - name: Make pull
        uses: actions/checkout@v2

      - name: Stop containers
        run: docker-compose stop

      - name: Remove containers
        run: docker-compose rm -f

      - name: Start container
        run: docker-compose up --build -d

  notify:
    needs: deployment
    runs-on: ubuntu-latest
    steps:
      - name: PushNotify
        uses: appleboy/telegram-action@master
        with:
          token: ${{secrets.TELEGRAM_BOT_TOKEN}}
          to: ${{ secrets.CHAT_ID }}
          message: |
            ${{ github.actor }} just pushed ${{ github.ref }} into ${{ github.repository }} with comment "${{ github.event.head_commit.message }}"
            ${{ github.event.compare }}